extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Etiam malesuada massa ac volutpat sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse congue maximus hendrerit.
                p Donec viverra ac mauris ac fermentum. Vestibulum vehicula placerat facilisis. Pellentesque a vulputate ipsum. Donec elementum orci in nunc mattis rutrum. Proin ut aliquam ligula, sed efficitur tellus.
                p Curabitur tristique eu neque vitae convallis. Fusce et sollicitudin diam, eu ornare erat. Cras sed diam gravida, aliquet lacus in, pharetra sapien. Proin pulvinar turpis vel sollicitudin sodales. Morbi quis sapien et augue finibus tempor in quis dui. Vestibulum sed sapien enim.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Vestibulum eros velit, faucibus ac justo at, commodo semper magna. Nulla facilisi.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Vestibulum eros velit, faucibus ac justo at, commodo semper magna. Nulla facilisi.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p Vestibulum eros velit, faucibus ac justo at, commodo semper magna. Nulla facilisi.