extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Donec congue pellentesque massa in pellentesque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam viverra cursus tortor, sit amet volutpat ex tincidunt ac. Donec ultrices neque ut justo mollis, a interdum eros vehicula. Maecenas rhoncus tellus sed erat elementum egestas. 
                p Fusce eu pellentesque sem. Ut hendrerit, tortor et tristique tempor, velit sem tincidunt nisl, id ultricies tellus lacus in augue. Nunc suscipit nibh risus, eget tincidunt neque mattis sed. Duis elementum sed orci vel elementum. In purus felis, porta vitae ornare sit amet, congue ac sapien. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
        h2.text-center.mb-5 Próximos viajes
        include ../layout/partials/viajes
        
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canadá
                        p.fecha 20 de Mayo 2020 - 28 de mayo de 2020
                        p.precio $2,500 USD
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales
